.topContainer{
    display: flex;
    justify-content: space-between;
}
.listTitle{
    display: flex;
    align-items: center;
    gap: .3rem;
}
#rowIcon{
    height: 15px;
}

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }

  thead {
    background-color: #f8f8f8;
  }

 
   button {
    background: #007bff;
    color: white;
    border: none;
    padding: 6px 10px;
    margin: 0 2px;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background: #0056b3;
  }
  .modifieBtn{
    background-color: rgba(6, 177, 15, 0.74);
  }
  .supprimerBtn{
    background-color: rgba(246, 52, 52, 1);
  }
